/* Общие стили */
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
}

/* Верхний блок */
.hero {
    background: url('images/bk2.png') center/cover no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    filter: brightness(130%);
    background-color: #f5f7fa; /* Добавьте цвет фона, совпадающий с body */
    overflow: hidden;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: block;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.menu li { 
    margin-bottom: 10px; /* добавь отступы между пунктами */ 
}

.phone {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    bottom: 50%; 
    left: 12%;
    transform: translateX(-50%);
    
    /*text-align: center;
    margin-top: -50px;*/
}
.phone ul{
    list-style: none;
}
.phone-inline { 
    color: #fff; 
    font-weight: bold; 
    font-size: 2rem; 
    list-style: none; 
    font-family: 'Orbitron';
    color: white; 
    text-shadow: 0 0 5px #00eaff;
}

/* Основной блок */
.offers {
    display: flex;
    justify-content: space-around;
    padding: 20 20px; /* Уберите верхний отступ */
    gap: 20px;
    margin-top: 20; /* Добавьте это */
}

.offer {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 30%;
    text-align: center;
    min-height: 80vh;
    padding: 0;
}

.offer img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 30px; 
}

.offer .text {
    padding: 15px;
}

.offer h3 {
    margin-top: 0;
    color: #2c3e50;
}

/* Футер */
footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    
    .offers {
        display: flex;
        flex-direction: column; /* Меняем направление на вертикальное */
        gap: 20px;
    }

    .offer {
        width: 100%; /* Каждая колонка на всю ширину */
        min-height: auto; /* Убираем фиксированную высоту */
    }

    /* Оптимизация для мобильных */
    .offer img {
        height: auto; /* Делаем высоту адаптивной */
        margin: 0px;
        padding: 0px;
        width: 100%; 
         object-fit: cover; 
         display: block;
    }

    .offer h3 {
        font-size: 1.5rem; /* Уменьшаем размер заголовка */
    }

    .offer p {
        font-size: 1rem; /* Уменьшаем размер текста */
    }
    .phone-inline{
        font-size:1.4rem;
    }
}


